/* screen - faune-4 */

.faune-4 {
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 908.24px;
  position: relative;
  width: 1280px;
}

.faune-4 .overlap-group {
  height: 858px;
  left: 18px;
  position: absolute;
  top: 50px;
  width: 1236px;
}

.faune-4 .orignal-2 {
  align-items: center;
  display: flex;
  height: 232px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 362px;
  width: 256px;
}

.faune-4 .orignal-5 {
  cursor: pointer;
  display: block;
  height: 223.9px;
  margin-left: 0;
  margin-top: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 247.45px;
}

.faune-4 .orignal-5.animate-enter19 {
  animation: animate-enter19-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter19-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-4 .orignal-5:hover {
  transform: scale(1.1);
}

.faune-4 .lapin-2 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 16px;
  position: absolute;
  top: 636px;
  width: 240px;
}

.faune-4 .lapin-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 239.59px;
}

.faune-4 .lapin-5.animate-enter20 {
  animation: animate-enter20-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter20-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-4 .lapin-5:hover {
  transform: scale(1.1);
}

.faune-4 .renard-1 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 396px;
  position: absolute;
  top: 636px;
  width: 394px;
}

.faune-4 .renard-3.animate-enter21 {
  animation: animate-enter21-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter21-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-4 .renard-3:hover {
  transform: scale(1.1);
}

.faune-4 .orignal-1 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 423px;
  position: absolute;
  top: 349px;
  width: 333px;
}

.faune-4 .orignal-5-1.animate-enter22 {
  animation: animate-enter22-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter22-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-4 .orignal-5-1:hover {
  transform: scale(1.1);
}

.faune-4 .hiboux-2 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 983px;
  position: absolute;
  top: 200px;
  width: 230px;
}

.faune-4 .hiboux-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 229.91px;
}

.faune-4 .hiboux-5.animate-enter23 {
  animation: animate-enter23-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter23-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-4 .hiboux-5:hover {
  transform: scale(1.1);
}

.faune-4 .rectangle-35 {
  background-color: var(--trendy-green);
  height: 145px;
  left: 298px;
  opacity: 0.55;
  width: 733px;
}

.faune-4 .dcouvrez-les-animau {
  left: 355px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 477px;
}

.faune-4 .httpslottiefilescoma {
  height: 92px;
  left: 873px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 136px;
}

.faune-4 .rectangle-53 {
  background-color: var(--alto);
  cursor: pointer;
  height: 771px;
  left: 208px;
  opacity: 0.88;
  width: 912px;
}

.faune-4 .adobe-stock_313333036-6 {
  height: 129px;
  left: 1074px;
  object-fit: cover;
  position: absolute;
  top: 726px;
  width: 162px;
}

.faune-4 .surname {
  cursor: pointer;
  left: 269px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 820px;
}

.faune-4 .hiboux-1 {
  align-items: center;
  display: flex;
  height: 169px;
  justify-content: center;
  left: 37px;
  position: absolute;
  top: 132px;
  width: 189px;
}

.faune-4 .hiboux-5-1 {
  cursor: pointer;
  height: 168px;
  margin-top: -1px;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 153px;
}

.faune-4 .hiboux-5-1:hover {
  transform: scale(1.1);
}

.faune-4 .rectangle {
  border-radius: 33px;
  position: absolute;
  top: 0;
}
