/* screen - faune-32 */

.faune-32 {
  align-items: flex-start;
  display: flex;
  height: 786px;
  min-width: 1280px;
}

.faune-32 .overlap-group {
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 908px;
  margin-top: -61px;
  position: relative;
  width: 1280px;
}

.faune-32 .overlap-group1 {
  height: 741px;
  left: 16px;
  position: absolute;
  top: 141px;
  width: 1215px;
}

.faune-32 .orignal-2 {
  align-items: center;
  display: flex;
  height: 232px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 287px;
  width: 256px;
}

.faune-32 .orignal-5 {
  cursor: pointer;
  display: block;
  height: 223.9px;
  margin-left: 0;
  margin-top: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 247.45px;
}

.faune-32 .orignal-5.animate-enter39 {
  animation: animate-enter39-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter39-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-32 .orignal-5:hover {
  transform: scale(1.1);
}

.faune-32 .lapin-2 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 90px;
  position: absolute;
  top: 519px;
  width: 240px;
}

.faune-32 .lapin-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 239.59px;
}

.faune-32 .lapin-5.animate-enter40 {
  animation: animate-enter40-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter40-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-32 .lapin-5:hover {
  transform: scale(1.1);
}

.faune-32 .renard-1 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 427px;
  position: absolute;
  top: 495px;
  width: 394px;
}

.faune-32 .renard-3.animate-enter41 {
  animation: animate-enter41-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter41-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-32 .renard-3:hover {
  transform: scale(1.1);
}

.faune-32 .orignal-1 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 425px;
  position: absolute;
  top: 319px;
  width: 333px;
}

.faune-32 .orignal-5-1.animate-enter42 {
  animation: animate-enter42-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter42-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-32 .orignal-5-1:hover {
  transform: scale(1.1);
}

.faune-32 .hiboux-2 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 985px;
  position: absolute;
  top: 170px;
  width: 230px;
}

.faune-32 .hiboux-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 229.91px;
}

.faune-32 .hiboux-5.animate-enter43 {
  animation: animate-enter43-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter43-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-32 .hiboux-5:hover {
  transform: scale(1.1);
}

.faune-32 .rectangle-52 {
  background-color: var(--alto);
  border-radius: 33px;
  cursor: pointer;
  height: 542px;
  left: 210px;
  opacity: 0.88;
  position: absolute;
  top: 0;
  width: 912px;
}

.faune-32 .surname {
  cursor: pointer;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 820px;
}

.faune-32 .hiboux-1 {
  align-items: center;
  display: flex;
  height: 169px;
  justify-content: center;
  left: 37px;
  position: absolute;
  top: 91px;
  width: 189px;
}

.faune-32 .hiboux-5-1 {
  cursor: pointer;
  height: 168px;
  margin-top: -1px;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 153px;
}

.faune-32 .hiboux-5-1:hover {
  transform: scale(1.1);
}

.faune-32 .adobe-stock_313333036-4 {
  height: 129px;
  left: 1069px;
  object-fit: cover;
  position: absolute;
  top: 753px;
  width: 162px;
}
