/* screen - faune-5 */

.faune-5 {
  align-items: flex-start;
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 908.24px;
  min-width: 1280px;
  padding: 23px 88px;
}

.faune-5 .overlap-group {
  height: 798px;
  margin-left: 138px;
  position: relative;
  width: 966px;
}

.faune-5 .orignal-1 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 215px;
  position: absolute;
  top: 376px;
  width: 333px;
}

.faune-5 .orignal-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 332.84px;
}

.faune-5 .orignal-5.animate-enter5 {
  animation: animate-enter5-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-5 .orignal-5:hover {
  transform: scale(1.1);
}

.faune-5 .rectangle-35 {
  background-color: var(--trendy-green);
  height: 145px;
  left: 90px;
  opacity: 0.55;
  width: 733px;
}

.faune-5 .dcouvrez-les-animau {
  left: 147px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 477px;
}

.faune-5 .httpslottiefilescoma {
  height: 92px;
  left: 665px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 136px;
}

.faune-5 .rectangle-53 {
  background-color: var(--alto);
  cursor: pointer;
  height: 771px;
  left: 0;
  opacity: 0.88;
  width: 912px;
}

.faune-5 .surname {
  cursor: pointer;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 62px;
  width: 820px;
}

.faune-5 .renard-3 {
  cursor: pointer;
  display: block;
  height: 161px;
  left: 680px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 286px;
}

.faune-5 .renard-3.animate-enter6 {
  animation: animate-enter6-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-5 .renard-3:hover {
  transform: scale(1.1);
}

.faune-5 .rectangle {
  border-radius: 33px;
  position: absolute;
  top: 27px;
}
