/* screen - faune-32 */

.faune-32 {
  align-items: flex-start;
  display: flex;
  height: 786px;
  min-width: 1280px;
}

.faune-32 .overlap-group {
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 908px;
  margin-top: -61px;
  position: relative;
  width: 1280px;
}

.faune-32 .orignal-1 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 441px;
  position: absolute;
  top: 460px;
  width: 333px;
}

.faune-32 .orignal-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 332.84px;
}

.faune-32 .orignal-5.animate-enter10 {
  animation: animate-enter10-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-32 .orignal-5:hover {
  transform: scale(1.1);
}

.faune-32 .rectangle-52 {
  background-color: var(--alto);
  border-radius: 33px;
  cursor: pointer;
  height: 542px;
  left: 226px;
  opacity: 0.88;
  position: absolute;
  top: 141px;
  width: 912px;
}

.faune-32 .surname {
  cursor: pointer;
  left: 272px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 175px;
  width: 820px;
}

.faune-32 .hiboux-2 {
  align-items: center;
  display: flex;
  height: 114px;
  justify-content: center;
  left: 994px;
  position: absolute;
  top: 102px;
  width: 118px;
}

.faune-32 .hiboux-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: -0.1px;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 229.91px;
}

.faune-32 .hiboux-5.animate-enter11 {
  animation: animate-enter11-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-32 .hiboux-5:hover {
  transform: scale(1.1);
}
