/* screen - faune-22 */

.faune-22 {
  align-items: flex-start;
  display: flex;
  height: 786px;
  min-width: 1280px;
}

.faune-22 .overlap-group {
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 908px;
  margin-top: -61px;
  position: relative;
  width: 1280px;
}

.faune-22 .orignal-1 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 441px;
  position: absolute;
  top: 460px;
  width: 333px;
}

.faune-22 .orignal-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 332.84px;
}

.faune-22 .orignal-5.animate-enter6 {
  animation: animate-enter6-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-22 .orignal-5:hover {
  transform: scale(1.1);
}

.faune-22 .rectangle-35 {
  background-color: var(--trendy-green);
  height: 145px;
  left: 316px;
  opacity: 0.55;
  width: 733px;
}

.faune-22 .dcouvrez-les-animau {
  left: 373px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 68px;
  width: 477px;
}

.faune-22 .httpslottiefilescoma {
  height: 92px;
  left: 891px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 136px;
}

.faune-22 .rectangle-52 {
  background-color: var(--alto);
  cursor: pointer;
  height: 668px;
  left: 226px;
  opacity: 0.88;
  width: 912px;
}

.faune-22 .surname {
  cursor: pointer;
  left: 277px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 101px;
  width: 820px;
}

.faune-22 .lapin-2 {
  align-items: center;
  display: flex;
  height: 111px;
  justify-content: center;
  left: 1018px;
  position: absolute;
  top: 19px;
  width: 120px;
}

.faune-22 .lapin-5 {
  cursor: pointer;
  display: block;
  height: 167px;
  margin-left: -43px;
  margin-top: 94px;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 181px;
}

.faune-22 .lapin-5.animate-enter7 {
  animation: animate-enter7-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-22 .lapin-5:hover {
  transform: scale(1.1);
}

.faune-22 .rectangle {
  border-radius: 33px;
  position: absolute;
  top: 50px;
}
