/* screen - faune-2 */

.faune-2 {
  align-items: flex-start;
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 18px;
  height: 908.24px;
  min-width: 1280px;
  padding: 33px 37px;
}

.faune-2 .hiboux-1 {
  align-items: center;
  display: flex;
  height: 169px;
  justify-content: center;
  margin-top: 99px;
  width: 189px;
}

.faune-2 .rectangle-51 {
  background-color: var(--alto);
  border-radius: 33px;
  cursor: pointer;
  height: 726px;
  margin-left: 1045px;
  margin-top: 453px;
  opacity: 0.88;
  width: 912px;
}

.faune-2 .overlap-group {
  height: 711px;
  position: relative;
  width: 906px;
}

.faune-2 .orignal-1 {
  align-items: center;
  display: flex;
  height: 222px;
  justify-content: center;
  left: 197px;
  position: absolute;
  top: 366px;
  width: 333px;
}

.faune-2 .orignal-5 {
  cursor: pointer;
  display: block;
  height: 222px;
  margin-left: 0;
  object-fit: cover;
  opacity: 0;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 332.84px;
}

.faune-2 .orignal-5.animate-enter1 {
  animation: animate-enter1-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-2 .orignal-5:hover {
  transform: scale(1.1);
}

.faune-2 .httpslottiefilescoma {
  height: 92px;
  left: 647px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 136px;
}

.faune-2 .hiboux-5 {
  cursor: pointer;
  height: 168px;
  left: 753px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  width: 153px;
}

.faune-2 .hiboux-5:hover {
  transform: scale(1.1);
}

.faune-2 .le-harfang-des-neige {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 820px;
}

.faune-2 .span1 {
  color: var(--black);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
}
