/* screen - faune-12 */

.faune-12 {
  align-items: flex-start;
  display: flex;
  height: 786px;
  min-width: 1280px;
}

.faune-12 .overlap-group {
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 908px;
  margin-top: -61px;
  position: relative;
  width: 1280px;
}

.faune-12 .rectangle-35 {
  background-color: var(--trendy-green);
  height: 145px;
  left: 316px;
  opacity: 0.55;
  width: 733px;
}

.faune-12 .clic-sur-les-animaux {
  left: 379px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 477px;
}

.faune-12 .httpslottiefilescoma {
  height: 92px;
  left: 891px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 136px;
}

.faune-12 .rectangle-54 {
  background-color: var(--alto);
  cursor: pointer;
  height: 726px;
  left: 208px;
  opacity: 0.88;
  width: 912px;
}

.faune-12 .l-orignal-saviez-vou {
  cursor: pointer;
  left: 272px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 116px;
  width: 820px;
}

.faune-12 .orignal-5 {
  cursor: pointer;
  display: block;
  height: 156px;
  left: 894px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 53px;
  transform: translate(0, 25px);
  transition: all 0.2s ease;
  width: 172px;
}

.faune-12 .orignal-5.animate-enter5 {
  animation: animate-enter5-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.faune-12 .orignal-5:hover {
  transform: scale(1.1);
}

.faune-12 .rectangle {
  border-radius: 33px;
  position: absolute;
  top: 50px;
}
