/* screen - iphone-13-u38-14-5 */

.iphone-13-u38-14-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.iphone-13-u38-14-5 .snowy_-owl-1 {
  height: 251px;
  margin-left: -92px;
  object-fit: cover;
  width: 495px;
}

.iphone-13-u38-14-5 .la-faune-5 {
  align-items: flex-start;
  display: flex;
  min-width: 399px;
}

.iphone-13-u38-14-5 .overlap-group {
  height: 342px;
  position: relative;
  width: 399px;
}

.iphone-13-u38-14-5 .group-6 {
  align-items: center;
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 342px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 399px;
}

.iphone-13-u38-14-5 .hiboux-8 {
  cursor: pointer;
  height: 55px;
  margin-left: 184px;
  margin-top: -95px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 59px;
}

.iphone-13-u38-14-5 .hiboux-8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-5 .rectangle-55 {
  cursor: pointer;
  height: 283px;
  left: 31px;
  position: absolute;
  top: 33px;
  width: 333px;
}

.iphone-13-u38-14-5 .le-harfang-des-neige {
  cursor: pointer;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 44px;
  width: 307px;
}

.iphone-13-u38-14-5 .hiboux8 {
  cursor: pointer;
  height: 67px;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  transition: all 0.5s ease-in-out;
  width: 63px;
}

.iphone-13-u38-14-5 .hiboux8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-5 .fiche-animale-monde {
  height: 256px;
  margin-left: -12px;
  object-fit: cover;
  width: 411px;
}
