/* screen - iphone-13-u38-14-2 */

.iphone-13-u38-14-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  min-height: 844px;
  min-width: 390px;
  overflow: hidden;
  width: 100%;
}

.iphone-13-u38-14-2 .la-faune-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -4px;
  min-height: 366px;
  width: 394px;
}

.iphone-13-u38-14-2 .la-faune-2-item {
  height: 251px;
  margin-left: 4px;
  object-fit: cover;
  width: 390px;
}

.iphone-13-u38-14-2 .overlap-group {
  height: 342px;
  margin-left: -3px;
  position: relative;
  width: 399px;
}

.iphone-13-u38-14-2 .group-6 {
  align-items: center;
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 11px;
  height: 342px;
  justify-content: flex-end;
  left: 0;
  min-width: 399px;
  padding: 9px 78px;
  position: absolute;
  top: 0;
}

.iphone-13-u38-14-2 .renard-5 {
  align-self: flex-end;
  cursor: pointer;
  height: 51px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 93px;
}

.iphone-13-u38-14-2 .renard-5:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-2 .hiboux-8 {
  cursor: pointer;
  height: 55px;
  margin-bottom: 95.0px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 59px;
}

.iphone-13-u38-14-2 .hiboux-8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-2 .rectangle-55 {
  background-color: var(--alto);
  border-radius: 33px;
  cursor: pointer;
  height: 273px;
  left: 64px;
  opacity: 0.88;
  position: absolute;
  top: 21px;
  width: 289px;
}

.iphone-13-u38-14-2 .surname {
  cursor: pointer;
  left: 85px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 243px;
}
