/* screen - iphone-13-u38-14-5 */

.iphone-13-u38-14-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.iphone-13-u38-14-5 .la-faune-5 {
  align-items: flex-start;
  display: flex;
  margin-top: 251px;
  min-width: 399px;
}

.iphone-13-u38-14-5 .overlap-group {
  height: 342px;
  position: relative;
  width: 399px;
}

.iphone-13-u38-14-5 .group-6 {
  align-items: flex-start;
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 166px;
  height: 342px;
  left: 0;
  min-width: 399px;
  padding: 22px 33px;
  position: absolute;
  top: 0;
}

.iphone-13-u38-14-5 .hiboux8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-5 .hiboux-8 {
  align-self: center;
  cursor: pointer;
  height: 55px;
  margin-bottom: 95.0px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 59px;
}

.iphone-13-u38-14-5 .hiboux-8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-5 .rectangle-55 {
  background-color: var(--alto);
  border-radius: 33px;
  cursor: pointer;
  height: 227px;
  left: 61px;
  opacity: 0.88;
  position: absolute;
  top: 33px;
  width: 289px;
}

.iphone-13-u38-14-5 .le-harfang-des-neige {
  cursor: pointer;
  left: 85px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 243px;
}

.iphone-13-u38-14-5 .fiche-animale-monde {
  height: 256px;
  margin-left: -12px;
  object-fit: cover;
  width: 411px;
}
