/* screen - iphone-13-u38-14-4 */

.iphone-13-u38-14-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.iphone-13-u38-14-4 .overlap-group1 {
  height: 882px;
  margin-left: -9px;
  margin-top: -8px;
  position: relative;
  width: 399px;
}

.iphone-13-u38-14-4 .overlap-group {
  height: 342px;
  left: 0;
  position: absolute;
  top: 244px;
  width: 399px;
}

.iphone-13-u38-14-4 .group-6 {
  align-items: center;
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 342px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 399px;
}

.iphone-13-u38-14-4 .hiboux-8 {
  cursor: pointer;
  height: 55px;
  margin-left: 184px;
  margin-top: -95px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 59px;
}

.iphone-13-u38-14-4 .hiboux-8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-4 .rectangle-55 {
  background-color: var(--alto);
  border-radius: 33px;
  cursor: pointer;
  height: 285px;
  left: 41px;
  opacity: 0.88;
  position: absolute;
  top: 28px;
  width: 337px;
}

.iphone-13-u38-14-4 .surname {
  cursor: pointer;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 310px;
}

.iphone-13-u38-14-4 .lapin-8 {
  cursor: pointer;
  height: 50px;
  left: 303px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  transition: all 0.5s ease-in-out;
  width: 56px;
}

.iphone-13-u38-14-4 .lapin-8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-4 .lapin_-rene-pelletie {
  height: 245px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.iphone-13-u38-14-4 .snowshoe_-hare_-shirleys_-bay-1 {
  height: 308px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 574px;
  width: 390px;
}
