/* screen - iphone-13-u38-14-6 */

.iphone-13-u38-14-6 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.iphone-13-u38-14-6 .orignalc-1024x683-1 {
  height: 254px;
  margin-left: -9px;
  margin-top: -3px;
  object-fit: cover;
  width: 399px;
}

.iphone-13-u38-14-6 .la-faune-6 {
  align-items: flex-start;
  display: flex;
  margin-left: -9px;
  min-width: 399px;
}

.iphone-13-u38-14-6 .overlap-group {
  height: 342px;
  position: relative;
  width: 399px;
}

.iphone-13-u38-14-6 .group-6 {
  align-items: center;
  background-image: url(../img/cadre.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 342px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 399px;
}

.iphone-13-u38-14-6 .hiboux-8 {
  cursor: pointer;
  height: 55px;
  margin-left: 184px;
  margin-top: -95px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 59px;
}

.iphone-13-u38-14-6 .hiboux-8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-6 .rectangle-55 {
  background-color: var(--alto);
  border-radius: 33px;
  cursor: pointer;
  height: 288px;
  left: 45px;
  opacity: 0.88;
  position: absolute;
  top: 24px;
  width: 333px;
}

.iphone-13-u38-14-6 .l-orignal-saviez-vou {
  cursor: pointer;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 299px;
}

.iphone-13-u38-14-6 .orignal-8 {
  cursor: pointer;
  height: 59px;
  left: 287px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  transition: all 0.5s ease-in-out;
  width: 86px;
}

.iphone-13-u38-14-6 .orignal-8:hover {
  transform: scale(1.1);
}

.iphone-13-u38-14-6 .img_-orignal-1 {
  height: 260px;
  object-fit: cover;
  width: 390px;
}
