:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --coconut: #fdfdfd;
  --eerie-black: #1e1e1e;
  --laser-lemon: #f8fc15;
  --trendy-green: #768b1c;
  --white: #ffffff;
  --white-2: #ffffff80;
 
  --font-size-l: 17px;
  --font-size-m: 15px;
  --font-size-xl: 27px;
  --font-size-xxl: 33px;
  --font-size-xxxl: 36px;
  --font-size-xxxxl: 37px;
  --font-size-xxxxxl: 40px;
 
  --font-family-kalnia-bold: "Kalnia-Bold", Helvetica;
  --font-family-kalnia-regular: "Kalnia-Regular", Helvetica;
  --font-family-original_surfer: "Original Surfer", Helvetica;
  --font-family-oswald: "Oswald", Helvetica;
}
.originalsurfer-normal-white-40px {
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-white-33px {
  color: var(--white);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-trendy-green-36px {
  color: var(--trendy-green);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-trendy-green-15px {
  color: var(--trendy-green);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-white-15px {
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-white-33px-2 {
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-original_surfer);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-laser-lemon-17px {
  color: var(--laser-lemon);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-trendy-green-17px {
  color: var(--trendy-green);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-trendy-green-33px {
  color: var(--trendy-green);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-original_surfer);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-laser-lemon-19px {
  color: var(--laser-lemon);
  font-family: var(--font-family-original_surfer);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-white-17px {
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-black-37px {
  color: var(--black);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.originalsurfer-normal-trendy-green-37px {
  color: var(--trendy-green);
  font-family: var(--font-family-original_surfer);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.kalnia-bold-white-44px {
  font-family: var(--font-family-kalnia-bold);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
}

.kalnia-bold-white-33px {
  color: var(--white);
  font-family: var(--font-family-kalnia-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.kalnia-regular-normal-eerie-black-33px {
  color: var(--eerie-black);
  font-family: var(--font-family-kalnia-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}
